name: Deploy Asterisk

on:
  push:
    branches: [ main ]
    paths:
      - 'configs/extensions.conf'

jobs:
  deploy-stage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload extensions.conf to STAGE
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.STAGE_HOST }}
          username: ${{ secrets.STAGE_USER }}      # root
          key: ${{ secrets.SSH_KEY }}
          source: "configs/extensions.conf"
          target: "/etc/asterisk/"

      - name: Reload dialplan on STAGE
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.STAGE_HOST }}
          username: ${{ secrets.STAGE_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "== Reload dialplan on STAGE =="
            asterisk -rx "dialplan reload"

  deploy-prod:
    needs: deploy-stage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload extensions.conf to PROD
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}       # root
          key: ${{ secrets.SSH_KEY }}
          source: "configs/extensions.conf"
          target: "/etc/asterisk/"

      - name: Reload dialplan on PROD
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "== Reload dialplan on PROD =="
            asterisk -rx "dialplan reload"
