name: Deploy Asterisk

on:
  push:
    branches: [ main ]
    paths:
      - '/etc/asterisk/extensions.conf'

jobs:
  deploy-stage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to STAGE
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.STAGE_HOST }}
          username: ${{ secrets.STAGE_USER }}    # root
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            echo "== Copy extensions.conf =="
            rsync -a --delete configs/extensions.conf /etc/asterisk/extensions.conf
            echo "== Reload dialplan =="
            asterisk -rx "dialplan reload"

  deploy-prod:
    needs: deploy-stage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to PROD
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}     # root
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            echo "== Copy extensions.conf =="
            rsync -a --delete configs/extensions.conf /etc/asterisk/extensions.conf
            echo "== Reload dialplan =="
            asterisk -rx "dialplan reload"
